html {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    background: url(../img/magicpattern-mesh-gradient.png), #000709 100%;
    background-size: 100% 100%;
}
html,
body {
    height: 100%;
    position: relative;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: #e7f3f7;
}
.form-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: rgb(3 20 23 / 90%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(9 50 58 / 41%);
    border: 1px solid rgb(18 110 128 / 5%);
    min-width: 17rem;
    max-width: 90vw;
}
form {
    display: inherit;
    flex-direction: inherit;
    gap: 1rem;
}
form label {
    /* color: aliceblue; */
    padding: 0.4rem 0px;
    text-transform: capitalize;
    position: relative;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-size: 0.8rem;
    /* height: 1rem; */
}
form label::before {
    content: "";
    width: 2px;
    border-radius: 1rem;
    padding: 0.01px;
    display: flex;
    height: 1.3rem !important;
    background: rgb(137 178 187 / 30%);
}
form input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem 1rem;
    min-height: 2rem;
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    /* background-color: hsl(193.85deg 79.92% 2.77%); */
    color: aliceblue;
    font-size: 1rem;
    border-radius: 2rem;
    transition: all 200ms ease-in;
    /* box-shadow: 0.05px 0.05px 2px 0px rgb(18 110 128 / 30%); */
}
form input:focus {
    box-shadow: 0.09px 0.09px 2.5px 0px rgb(18 110 128 / 90%);
}
.form-group {
    display: flex;
    box-shadow: 0.05px 0.05px 2px 0px rgb(18 110 128 / 30%);
    border-radius: 2rem;
    width: 100%;
    flex-basis: 100%;
    /* background: pink; */
}
.form-control {
    flex-basis: 100%;
}
.form-group input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.form-group .form-append {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    padding: 0.4rem 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-left: 0.05px solid rgb(18 110 128 / 20%);
}
form > div {
    display: flex;
    flex-direction: column;
}
.page-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
}
.page-container h2 {
    display: flex;
    font-size: 2.1rem;
    margin: 2rem;
    font-weight: 900;
    justify-content: center;
    font-family: sans-serif;
    background: -webkit-linear-gradient(#eee, #126e80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    /* background: rgb(3 18 21 / 26%); */
    box-shadow: 0 4px 11px rgb(9 51 60 / 60%);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */

    padding: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.social-link a {
    text-decoration: none;
    color: inherit;
    background: black;
    display: flex;
    padding: 0.7rem;
    border-radius: 1rem;
    border: 1px solid #cccccc57;
}
